<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ '/assets/icons/favicon.ico'      | relative_url }}">
<link rel="icon" href="{{ '/assets/icons/favicon.ico'      | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-icon-180x180.png' | relative_url }}">
<!-- end custom head snippets -->
<!-- Goole Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7140697444667114"
     crossorigin="anonymous"></script>
