---
layout: default
---
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                내 블로그 카테고리
            </h1>
            <h2 class="subtitle">
                내가 궁금하고 공부한 것들.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <aside class="menu">
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <p class="menu-label" id="category-{{ category | first | slugize }}">
                {{ category | first }}
            </p>
            <ul class="menu-list">
                {% for post in site.categories[category_name] %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </aside>
    </div>
</section>